{:duct.profile/base
 {:duct.core/project-ns rest-server

  :rest-server.handler.meetup/list {:db #ig/ref :duct.database.sql}
  :rest-server.handler.meetup/create {:db #ig/ref :duct.database.sql}
  :rest-server.handler.meetup/fetch {:db #ig/ref :duct.database.sql}
  :rest-server.handler.meetup/join {:db #ig/ref :duct.database.sql}
  :rest-server.handler.member/list {:db #ig/ref :duct.database.sql}
  :rest-server.handler.member/create {:db #ig/ref :duct.database.sql}
  :rest-server.handler.member/fetch {:db #ig/ref :duct.database.sql}
  :rest-server.handler.venue/list {:db #ig/ref :duct.database.sql}
  :rest-server.handler.venue/create {:db #ig/ref :duct.database.sql}
  :rest-server.handler.group/list {:db #ig/ref :duct.database.sql}
  :rest-server.handler.group/create {:db #ig/ref :duct.database.sql}
  :rest-server.handler.group/join {:db #ig/ref :duct.database.sql}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql
 {:database-url "jdbc:postgresql://localhost:5432/meetup?user=meetup&password=password123"}

 :duct.module/ataraxy
 {"/members"
  {:get [:member/list]
   [:post {member :body-params}] [:member/create member]
   ["/" member-id]
   {:get [:mbmer/fetch ^int member-id]
    "/meetups"
    {["/" meetup-id]
     {:post [:meetup/join ^int member-id ^int meetup-id]}}
    "/groups"
    {["/" group-id]
     {[:post {group-member :body-params}] [:group/join ^int member-id ^int group-id group-member]}}}}
  "/groups"
  {:get [:group/list]
   [:post {group :body-params}] [:group/create group]
   ["/" group-id]
   {"/meetups"
    {:get [:meetup/list ^int group-id]
     [:post {meetup :body-params}] [:meetup/create ^int group-id meetup]
     ["/ meetup-id"]
     {:get [:meetup/fetch ^int group-id ^int meetup-id]}}
    "/venues"
    {:get [:venues/list ^int group-id]
     [:post {venue :body-params}] [:venue/create ^int group-id venue]}}}}}
